@charset "UTF-8";

/*

Vermelho: #E80000
branco: #FFF7F6
preto-avermelhado: #8B2222

*/

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



body,html{

    background-color:#E80000;
    height: 100vh;
    width: 100vw;
    color: #ad3410;
    text-align: center;
}

main{
    position: relative;
    height: 100vh ;
    width: 100vw;
   
}

section#login{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

    background-color: #FFF7F6;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px #ba0f0fd4;
}

section#login > div#kong {

    display: block;
    background: #8B2222 url("../imagens/2654be2bfb7f25404233e917c06fe9b1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 200px;
}

section#login > div#formulario{

    padding: 10px;
    display: block;
}